.signin-container-cp {
    max-width: 100%;
    width: 80%;
    margin: auto ;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    overflow: hidden;
    background-color: #fff;
    margin-top: 20px;
}

h2 {
    font-size: 24px;
    color: #06005E;
    /* Dark blue color */
    margin-bottom: 20px;
}

/* Error message styling */


/* Form and input styling */
.email-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-container-cp {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    border: 2px solid var(--input-border-color);
    border-radius: 25px;
    padding: 10px;
    position: relative;
    color: #06005E;
}

.input-icon {
    position: absolute;
    left: 10px;
    color: #1a237e;
}

input[type="password"],
input[type="text"] {
    width: 100%;
    padding: 10px 15px 10px 40px;
    border: #ccc;
    border-radius: 20px;
    font-size: 16px;
    outline: none;
    transition: border 0.3s ease;
    color: #1a237e;
}

input[type="password"]:focus,
input[type="text"]:focus {
    border-color: #06005E;
}
input[type="password"]::placeholder,
input[type="text"]::placeholder {
    color: #06005E; /* Dark blue color */
    opacity: 1; /* Ensure full opacity */
}

/* Password toggle icon styling */
.password-toggle-icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: #06005E;
}

/* Button styling */
.button {
    padding: 10px;
    font-size: 16px;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 5px;
}

.button-primary {
    background-color: #06005E;
    /* Blue gradient start */
    background-image: linear-gradient(to right, #06005E, #030839);
    /* Blue gradient */
}

.button-primary:hover {
    background-color: #06005E;
    /* Dark blue on hover */
}

.button-danger {
    background-color: #06005E;
    /* Darker blue gradient start */
    background-image: linear-gradient(to right, #06005E, #030839);
    /* Darker gradient */
}

.button-danger:hover {
    background-color: #06005E;
    /* Dark blue on hover */
}

/* Button container */
.email-form button {
    display: inline-block;
    width: calc(50% - 10px);
}

.container-buttons-cahngepass {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}